html,
body {
  min-width: 290px;
  color: #4d4e53;
  background-color: #ffffff;
  font-family: 'Open Sans', Arial, sans-serif;
  line-height: 1.5;
}

#navbar {
  position: fixed;
  min-width: 300px;
  top: 0px;
  left: 0px;
  width: 310px;
  height: 100%;
  /*border: 1px solid #ddd;*/
  background-color: rgb(121, 77, 240);
}

header {
  color: rgb(224, 224, 224);
  margin: 20px;
  text-align: center;
  font-size: 1.8em;
  font-weight: thin;
}

#main-doc header {
  color: rgb(121, 77, 240);
  text-align: left;
  margin: 30px 0px 20px;
}

#navbar ul {
  height: 88%;
  padding: 0px 0px;
  overflow-y: auto;
  overflow-x: hidden;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

#navbar li {
  /*color: #4d4e53;
  border-top: 1px solid;*/
  padding: 2px 0px;
  list-style: none;
  position: relative;
  width: 100%;
}

#navbar a {
  display: block;
  padding: 10px 30px;
  color: rgb(224, 224, 224);
  text-decoration: none;
  cursor: pointer;
}

#navbar li:hover{
  font-weight: 700;
}

#main-doc {
  position: absolute;
  margin-left: 310px;
  padding: 50px;
  margin-bottom: 110px;
  text-align: justify;
}

section article {
  color: #4d4e53;
  margin: 15px 0px 15px 0px;
  font-size: 0.96em;
}

section li {
  margin: 15px 0px 0px 20px;
}

.link-decor {
  text-decoration: none;
  color: rgb(121, 77, 240);
}

code {
  display: block;
  text-align: left;
  white-space: pre-line;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  background-color: #f7f7f7;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}

/* User Story #15: My Technical Documentation page should use at least one media query. */

@media only screen and (max-width: 815px) {
  #navbar ul {
    height: 130px;
  }

  #navbar {
    background-color: rgb(121, 77, 240);
    position: fixed;
    top: 0;
    padding: 0 0 10px;
    margin: 0;
    width: 100%;
    max-height: 200px;
    border: none;
    z-index: 1;
  }

  header {
    margin: 10px;
  }

  #main-doc {
    position: relative;
    margin-left: 0px;
    padding-top: 220px;

  }

  .stuck {
    padding-top: 220px;
  }
}

@media only screen and (max-width: 400px) {
  #main-doc {
    margin-left: -10px;
  }

  code {
    margin-left: -20px;
    width: 100%;
    padding: 15px;
    padding-left: 10px;
    padding-right: 45px;
    min-width: 233px;
  }
}
