body {
  background: rgb(140, 138, 148);
  font-family: Raleway, Roboto, Arial, Helvetica, sans-serif;;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #212121;
  margin: 0;
}

main {
  background-color: rgb(214, 214, 194);
  border-radius: 50px;
  margin: 20px 20px 20px 20px;
}

h1 {
  margin-bottom: 0;
  padding-top: 50px;
}

h2 {

  margin-bottom: 0;
}

a {
  color: rgb(38, 31, 73);
  text-decoration: none;
}

a:link {
  color: rgb(38, 31, 73);
}

.ref {
  padding-bottom: 50px;
}

/* User Story #8: The img element should responsively resize, relative to the width of its parent element, without exceeding its original size.

User Story #9: The img element should be centered within its parent element. */

img {
  border-radius: 20px;
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
}

figcaption {
  padding-top: 10px;
}

/* tribute section */

h3 {
  margin: 50px auto 0px auto;
}


ul {
  list-style-type: none;
  max-width: 800px;
  margin: 40px auto 100px auto;
  text-align: justify;
  line-height: 20px;
}

li {
  margin: 20px 40px;
}

@media (max-width: 550px) {
 li{
  margin: 20px 50px 20px 10px;
 }
}