body {
    background-color: rgb(255, 255, 255);
}

h3 {
    padding: 50px 0px 10px 0px;
    text-align: center;
    font-size: 30px;
    color: rgb(173, 58, 226);
}

.grid {
    background-color: rgb(173, 58, 226);
    border-radius: 20px;
    padding: 20px;
    margin:  0px auto 50px;
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 400px;
}

a, p {
    color: rgb(173, 58, 226);
    text-decoration: none;
  }
  
  a:link {
    color: rgb(173, 58, 226);
  }
  
  .ref {
    padding: 100px 40px 50px 40px;
    text-align: center;
  }

@media (max-width: 420px) {
    .grid {
        padding: 10px;
        height: 400px;
        width: 300px;
    }
  }